*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: 12vw 55vw 20vw;
    align-items: center;
    max-width: 100%;
    height: 7vh;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    padding: 0 10vw 0 10vw;
    }
.logo{
    height: 27px;
    width: auto;
    margin-right: 20px;
    cursor: pointer;
}

.nav_menu{
    width: 400px;
    height: 22px;
    display: flex;
}

.nav_menu div{
    position: relative;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #6c82a3;
    padding-right: 30px;
    cursor: pointer;
}

.nav_menu span{
    font-size: 10px;
    position: absolute;
    bottom: 0;
    margin-left: 5px;
    padding:0;
}
.nav_buttons{
    display: flex;
    align-items: center;

}
.nav_buttons button{
    height: 35px;
    width:  120px;
    border: none;
    background-color: #0066f5;
    border-radius: 5px;
    color: white;
    margin-top: 1.2px;
    cursor: pointer;
}
.nav_buttons div p{
    color: #0067f5;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
}
.pic_display{
    width: 192px;
    height: 78px;
}


/* body*/
section{
    height: 100vh;
    margin-top: 20px;
    max-width: 100%;
    display: grid;
    gap: 80px;
    grid-template-columns: 630px 630px;
    grid-template-rows: 680px;
    padding: 0 10vw 0 10vw;
}

.picture-display .backpanel{
    width: 50%;
    height: 105%;
    background-color: rgb(252, 239, 234);
    position: relative;
    overflow: hidden;
}

.picture-display > img{
    position: absolute;
    top: 15%;
    left: 15%;
    height: 550px;
    width: auto;
}

.add{
    animation: turn 0.5s linear;
}
@keyframes turn {
    0% { transform: scale(0.2) skew(0, 50deg); }
    100% { transform: scale(1) skew(0, 0deg); }
}
.comment{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 340px;
    height: 170px;
    position: absolute;
    top:65%;
    left: 25%;
    padding-bottom: 10px;
}
.comment_text{
    padding-top: 10px;
    max-width: 276px;
    max-height: 94px;
}
.comment_text > p:nth-child(1){
    font-size: 14px;
    color: #6c82a3;
    margin-top: 20px;
}

#link{
    max-width: 276px;
    display: flex;
    justify-content: space-between;
}
#link > span:nth-child(2){
    color: #0066f5;
}
.section-info h1{
    max-width: 630px;
    max-height: 220px;
    font-size: 95px;
    font-weight: 600;
    line-height: 100px;
    color: #082552;
    margin: 67px 0px 20px;
    letter-spacing: -7.5px;
}

.section-info h6{
    width: 630px;
    height: 60px;
    color: #082552;
    font-size: 48px;
    line-height: 60px;
    font-weight: 200;
    margin: 10px 0px 33.6px;
}
.form{
    display: flex;
}
.form input {
    width: 323px;
    height: 50px;
    border-radius: 6px;
    border: 2px solid grey; /* Set an initial border color */
    margin: 0 10px 0 0;
    transition: border-color 0.5s ease-in; /* Add the transition for border-color */
}


.form input:focus {
    outline: none;
    border-color: #0067f5; /* Change the border color on hover */
}

.form button{
    width: 170px;
    height: 54px;
    background-color: #0066f5;
    border: none;
    color: white;
    border-radius: 6px;
}

.bars_section{
    width: 100%;
    height: 830px;
    display: grid;
    gap: 80px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 630px 630px;
    grid-template-rows: 680px;

}

.pic_selection > img{
    width: 62px;
    height: 62px;
    position: relative;
    left: 0%;
    top: 0%;
    margin: 0 10px ;
    cursor: pointer;
}
.pic_selection > img:hover{
    filter: grayscale(100%);
}

.pic_selection {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    bottom: 0;
    width: 315px;
    height: 100px;
}
.advertisement h2{
    color: #082552;
    font-size: 90px;
    letter-spacing: -7.5px;
    line-height: 100px;
    width:630px;
    height: 212px;
    margin-bottom: 20px;
}
.advertisement h5{
    color: #082552;
    width: 630px;
    height: 75px;
    font-size: 30px;
    padding: 0 120px 0 0;
}
.advertisement button{
    margin-top: 40px;
    width: 200px;
    height: 50px;
    background-color: #0066f5;
    border: none;
    color: white;
    border-radius: 6px;
}
h2 small{
    font-weight: 100;
}
.bars{
    background-color: red;
}
.container {
    width: 200px;
    height: 200px;
    perspective: 500px;
    margin: 100px;
  }
  
  .cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
  }
  
  .face {
    width: 200px;
    height: 200px;
    background: skyblue;
    border: 2px solid black;
    position: absolute;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
  }


  .cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotate3d(0, 1, 0, 45deg);
  }
  .front {
    transform: translateZ(100px);
  }
  .left {
    transform: translateX(-100px) rotateY(-90deg);
  }
  
  .right {
    transform: translateX(100px) rotateY(90deg);
  }
  .top {
    transform: translateY(-100px) rotateX(90deg);
  }
  
  .bottom {
    transform: translateY(100px) rotateX(-90deg);
  }
  .back {
    transform: translateZ(-100px) rotateY(180deg);
  }